:root {
  --bg-primary: #E0E8FF;
  --white: #FFFFFF;
  --heading-color: #1F2E55;
  --text-color: #717FA6;
  --btn-color: #382AE1;
  --main-font: 'Red Hat Display', sans-serif;
  --section-color: #F7F9FF;
  --hover-color: #766CF1;
}